<div class="carousel">
  <div class="carousel-inner"
       [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
       (touchstart)="onTouchStart($event)"
       (touchend)="onTouchEnd($event)"
       (mousedown)="onMouseDown($event)"
       (mouseup)="onMouseUp($event)">

    <div class="carousel-item" *ngFor="let item of items; let i = index">
      <div class="carousel-content">
        <div class="carousel-text">
          <h3>{{ item.subtitle }}</h3>
          <h1>{{ item.title }}</h1>
          <p>{{ item.description }}</p>
          <button [routerLink]="['/details', item.id]" >{{ item.buttonText }}</button>
        </div>
        <div class="carousel-image">
          <img [src]="item.image" alt="Product {{ i }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Dots -->
  <div class="dots">
    <span *ngFor="let item of items; let i = index"
          [class.active]="i === currentIndex"
          (click)="goToSlide(i)">
    </span>
  </div>
</div>



<!-- Global top-center toast -->
<div class="toast" *ngIf="toastVisible">
  ✔ {{ toastMessage }} added to cart
</div>


<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    [id]="product.id"
    [name]="product.name"
    [price]="product.price"
    [images]="product.images"
    (addedToCart)="showToast($event)"
    >
  </app-product>
</div>

