<!--&lt;!&ndash; src/app/cart-sidebar/cart-sidebar.component.html &ndash;&gt;-->
<!--<div class="cart-sidebar" [class.open]="isOpen">-->
<!--  <div class="cart-header">-->
<!--    <h3>My Cart</h3>-->
<!--    <button (click)="toggleSidebar()">✖</button>-->
<!--  </div>-->

<!--  <div class="cart-items" *ngIf="items.length; else emptyCart">-->
<!--    <div class="cart-item" *ngFor="let item of items">-->
<!--      <div>-->
<!--        <strong>{{ item.name }}</strong>-->
<!--        <div *ngIf="item.variant">Variant: {{ item.variant }}</div>-->
<!--        <div>Qty: {{ item.quantity }}</div>-->
<!--        <div>${{ item.price }}</div>-->
<!--      </div>-->
<!--      <button class="remove-btn" (click)="removeItem(item)">🗑</button>-->
<!--    </div>-->
<!--    <div class="cart-total">-->
<!--      <strong>Total: ${{ total.toFixed(2) }}</strong>-->
<!--    </div>-->
<!--  </div>-->

<!--  <ng-template #emptyCart>-->
<!--    <p>Your cart is empty 🛒</p>-->
<!--  </ng-template>-->
<!--</div>-->


<div class="cart-sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="cart-sidebar" [class.open]="isOpen" (click)="$event.stopPropagation()">
  <div class="cart-header">
    <h3>My Cart</h3>
    <button (click)="toggleSidebar()">✖</button>
  </div>

  <div class="cart-items" *ngIf="items.length; else emptyCart">
    <div class="cart-item" *ngFor="let item of items">
      <img class="cart-item-image" [src]="item.image" alt="{{ item.name }}">
      <div class="cart-item-details">
        <strong>{{ item.name }}</strong>
<!--        <div *ngIf="item.variant">-->
<!--          Variant:-->
<!--          {{ parseVariant(item.variant) }}-->
<!--        </div>-->
        <div>Qty: {{ item.quantity }}</div>
        <div>{{ item.price.toFixed(2) }} dt</div>
      </div>
      <button class="remove-btn" (click)="removeItem(item)"><img src="./assets/images/icons/delete.svg" alt="delete-item"></button>
    </div>


    <div class="btn-total">
      <div class="cart-total">
        <p class="total-total-price"><span class="total-text">Total:</span>{{ total.toFixed(2) }} dt</p>
      </div>
      <button class="checkout-btn" (click)="checkout()">Paiement</button>


    </div>

  </div>

  <ng-template #emptyCart>
    <p>Your cart is empty 🛒</p>
  </ng-template>
</div>

